@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body,
html {
  width: 100%;
}
header {
  width: 100%;
  height: 100vh;
  background-image: url("../images/ind1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 0%, 50%;
}
.nav-container {
}
nav {
  display: flex;
  color: #2c3e50;
  width: 90%;
  margin: 0 auto;
  height: 80px;
  align-items: center;
}
nav .logo {
  font-size: 30px;
  height: 100%;
  padding: 2px;
}
nav .nav-links {
  flex: 1;
  text-align: right;
}
nav .nav-link-active {
  color: #2e86de;
}
.nav-links li {
  display: inline;
  font-size: 18px;
  padding: 0 15px;
  position: relative;
}
.nav-links li:hover {
  color: #54a0ff;
}
.nav-links li::after {
  content: "";
  position: absolute;
  background-color: #54a0ff;
  width: 0;
  height: 3px;
  border-radius: 5px;
  bottom: -15px;
  left: 30px;
  transition: 0.25s ease-in-out;
  opacity: 0;
}
.nav-links li:hover::after {
  width: 90%;
  left: 5px;
  opacity: 1;
}

header .content {
  display: flex;
  width: 90%;
  margin: 0 auto;
  height: 80%;
  color: #34495e;
}
.content .left {
  width: 60%;
  align-self: center;
}
.content .left h1 {
  font-size: 120px;
}
.content .left h2 {
  font-size: 50px;
  color: #e74c3c;
  line-height: 50px;
}

.space {
  height: 1000px;
}
